.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.preview-title{
    display: flex;
    justify-content: space-between;
    
}
.select-file-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.illustration img{
    width: 50%;
    margin: auto;
}
.illustration{
    text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}
.preview {
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.preview img{
    max-width: 100%;
        max-height: 100%;
        display: block;
}
.modal-body{
    overflow-y: scroll;
}
@media (min-width: 200px) and (max-width: 749px) {
    .form-container{
        width: 100%;
    }
}