
.section{
    display: flex;
    flex-direction: column;
    
  }

  .main {
    margin-left: auto;
    width: calc(100% - 220px);
  }
  
  

.home-container {
    display: flex;
    width: 100%;
    padding-top: 22px;
    justify-content: center;
    
 
    
}
.user-feed {
    max-width: 630px;
    width: 100%;
    margin-top: 16px;
    
}
.stories-container{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 0px;
    box-sizing: border-box;
}

.feed-container{
    width: 600px;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    box-sizing: border-box;
    justify-content: center;
}

.suggestion-container  {
 
    width: 400px;
    padding-left: 64px;
    height: 100vh;
    
    
}
.suggestion-main{
    margin-top: 36px;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: static;
    align-items: stretch;
    overflow-x: visible;
    justify-content: flex-start;
}
.suggestion-list{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    flex-shrink: 0;
    align-items: stretch;
    align-self: auto;
    margin-left: 16px;
    justify-content: flex-start;
    margin-top: 20px;
}
.users-list{
    display: flex;
    flex-direction: column;
    margin: 0 0 12px -16px;
    width: calc(100% + 32px);
}
.users-list .heading{
   
        overflow-y: visible;
        align-content: stretch;
        border-bottom-left-radius: 0;
        padding-bottom: 4px;
        background-color: transparent;
        box-sizing: border-box;
        display: flex; 
        align-items: center;  
        border-bottom-right-radius: 0;   
        flex-shrink: 0;   
        padding-left: 16px;   
        flex-direction: row;    
        overflow-x: visible;   
        padding-right: 16px;  
        align-self: auto;
        justify-content: flex-start; 
        position: relative; 
        padding-top: 4px;
        flex-grow: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
   
}
.heading-container{
    overflow-y: visible;
    align-content: stretch;
    border-bottom-left-radius: 0;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    min-height: 0;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;
     position: relative;
    flex-grow: 1;
    align-items: flex-start;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.heading-container span{
    font-weight: 600;
    color: rgb(115, 115, 115);
}
.see-all-link{
    color: rgb(38, 38, 38);
    background-color: transparent;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 16px!important;
    pointer-events: auto;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
    
   
}

.list{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 1rem;
    
}
.see-all-btn span{
    font-weight: 600;
}
.nav-and-search{
    position: relative;
}
.instaPreviewArea{
    position: static !important;
}
.sort-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 405px;
}
.sort-user-feed{
    width: 100%;
    padding: 10px;
    background-color: rgb(239 239 239);
    display: flex;
    justify-content: space-between;

}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.p-1 {
    padding: 0.25rem;
}
.relative button {
    border: none;
}
.relative select{
   
}
.menu-nav {
       
    display: flex;
    justify-content: space-between;
  }
  
  .menu-item {
    color: #FCC;
    padding: 3px;
  }
  
  .three-dots:after {
    cursor: pointer;
    color: #444;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a div {
    padding: 2px;
  }
  
  .dropdown2 {
    position: absolute;
    background-color: rgb(239 239 239);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    color: black;
    padding: 10px;
   
    transition: opacity 0.1s, z-index 0.1s,
    
    
    }
  .dropdown2 div{
    cursor: pointer;
    padding: 8px;
  }

  .dropdown2 div:hover{
    font-weight: 600px;
  }
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown2 {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, 
    
  }
  .suggestions-mob-view{
    display: none;
  }
  .suggestion-header{
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
  }

@media (min-width: 200px) and (max-width: 749px) {
    .suggestion-container{
        display: none;
    }
    .feed-container {
        width: 100%;
    }
   .home-container{
    width: auto;
    
   }
   
    .top-nav{
        width: calc(100%-200px);
    }
    .main {
        
        width: calc(100% - 1px);
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        align-self: center;
        
      }

      .instaPreviewArea {
        position: static !important;
        
      }
      .feed-section {
        width: 100%;
      }
      .table-container{
        overflow: unset;
        overflow-y: unset;
    }
    .userfeed-post-container{
      padding-bottom: 50px;
    }
    .dropdown2{
      right: 20px !important;
    }
    .suggestions{
      display: flex;
      width: 100%;
     
    }
    .suggestions div{
      box-sizing: border-box;
      
    }
    .suggestions-mob-view{
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
    }

    .suggestions-mob-view .heading{
      display: flex;
      flex-direction: row;
      padding: 0px 10px;
     
     
    }
    .home-container{
      padding: 0px;
    }
    .userfeed-post-container .column{
      padding-right: 0px;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0px;
    }
    .home-container{
      width: 100%;
    }
   
    .user-feed{
      width: 100%;
      margin-top: 0px;
    }
    .feed-container{
      width: 100%;
    }
    #instaPostCard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #instaPostCard .columns{
      width: 100%;
      box-sizing: border-box;
    }
    #instaPostCard #postImage{
      height: 450px;
      max-width: 370px;
      object-fit: cover;
      box-sizing: border-box;
    }
    .post-image1{
      width: 370px;
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .comment-area{
      padding-left: 10px;
    }
    #likesCountTextArea{
      /* padding-left: 10px; */
    }
    #postTextArea{
      /* padding-left: 10px; */
    }
    #commentCountTextArea{
      /* padding-left: 10px; */
    }
    .post-card-icons-mobile-view{
      width: 80%;
    }
}
@media (min-width: 750px) and (max-width: 1260px) {

    .suggestion-container{
        display: none;
    }
    .main {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        
      }
      
      
}