
.main{
    display: flex;
    
  }
  /* Small devices (portrait tablets and large phones, 600px and up)
  @media only screen and (min-width: 600px) {...} */
  
  /* Medium devices (landscape tablets, 768px and up) */
  /* @media only screen and (min-width: 768px) {...} */
  

.home-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 22px;
}
.user-feed {
    max-width: 630px;
    width: 100%;
    margin-top: 16px;
    
}
.stories-container{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 0px;
    box-sizing: border-box;
}

.feed-container{
    width: 470px;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    box-sizing: border-box;
}

.suggestion-container  {
    width: 319px;
    padding-left: 64px;
    height: 100vh;
}
.suggestion-main{
    margin-top: 36px;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: static;
    align-items: stretch;
    overflow-x: visible;
    justify-content: flex-start;
}