.search-bar{
    
}
.search-main{
    box-shadow: 4px 0 24px rgba(0,0,0,.15);
    padding-bottom: 8px;
    border-right: 1px solid rgb(219, 219, 219);
    border-top-right-radius: 16px;
    border-bottom-left-radius:0;
    padding-left: 0;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 397px;
    padding-top: 8px;
    overflow-y: auto;
    height: 100vh;
    border-top-left-radius: 0;
    border-bottom-right-radius: 16px;
    position: fixed;
    left: 220px;
    top: 0px;
    z-index: 0;
    background-color: white;

}
.search-body{
    width: 100%;
    overflow-y: hidden;
    height : 100%;
    
}
.search-title{
    padding-top: 12px;
    padding-bottom: 36px;
    padding-right: 14px;
    padding-left: 24px;
    margin-top: 8px;
    margin-left: 0;
    margin-bottom: 8px;
    margin-right: 0px;
}
.search-heading span{
    min-width: 0;
    text-align: left; 
    font-weight: 600;
    display: block;
    max-width: 100%;
    font-size : 24px
}
.search-bar-result{
    overflow-y: visible;
    align-content: stretch;
    border-bottom-left-radius: 0;
    background-color: transparent;
    min-width: 0;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    border-bottom-right-radius: 0;
    min-height: 0;
    align-items: stretch;
    overflow-x: visible;
    align-self: auto;
    justify-content: flex-start;

    /* position: relative; */
    flex-grow: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.search-bar{
    margin-left: 16px;
    flex-grow: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.search-result{
    z-index: 2;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%;

    /* position: relative; */
    border-top: 1px solid rgb(219, 219, 219);
}
.result-container{
    padding-top: var(--search-modal-top-offset);
    padding-left: 0;
    width: 100%;
   flex-direction: column;
    box-sizing: border-box;
    display: flex;
    overflow-x: hidden;
    padding-right: 0;
    flex-grow: 1;
    padding-bottom: 0;
    height: 500px;
    padding: 10px;
}
.search-input{
    background: rgb(239, 239, 239);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb( 0, 0, 0);
    font-size: 16px;
    height: 100%;
    outline: none;
    padding: 10px 16px;
    width: 90%;
    z-index: 2;
    text-align: left;
    
}
@media (min-width: 750px) and (max-width: 1260px){
    .search-main{
        left: 90px;
    }
    .search-section{
        display: flex;
    }
    
  }
  @media (min-width: 200px) and (max-width: 749px){
    .search-main{
        left: 0px;
        width: 100%;
       border-radius: 0px;
        height: 50vh;    
        top: 307px;
    }
    .search-body{
        height: unset;
    }
    .search-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .result-container{
        height: 80%;
        
    }
  }
